@import "./variables";

.app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  background: #fff;
}
.app-footer {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: $green-color;
  height: $footer-height;
  width: 100%;
}
.label-image {
  padding-left: 3.8rem;
  height: inherit;
}
@font-face {
  font-family: "Inter";
  src: local("Inter"),url("../font/Ferry-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  src: local("Inter"),url("../font/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}

body {
  font-family: "Inter";
  font-weight: 400;
}